.circle{
  position: relative;
margin-left: 15px;

}
.login {
  position: absolute;
  bottom: 0;
height: 65vh;
width: 70vw;
overflow: hidden;
transition:cubic-bezier(0.895, 0.03, 0.685, 0.22) all 1s ;
}
.up {
  transform: translateY(-500px);
  transition:cubic-bezier(0.895, 0.03, 0.685, 0.22) all 1s ;

}
.logn_wrapper {
  height: 100vh;
width: 70vw;
background-color: #000;
border-radius: calc(10rem + 5vw);
transform: translateY(200px);
overflow: hidden;
display: flex;
justify-content: center;
transition:cubic-bezier(0.895, 0.03, 0.685, 0.22) all 1s ;

}
@media screen and (max-width:500px) {
  .login , .logn_wrapper {
    width: 80vw;
  }
  .mobilelogin {
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center;
  }
  .mobilelogin p {
    width: 100% !important;
  }
  .mobilelogin div:nth-child(2) {
    width:70vw  !important
  }
}
.logn_wrapper> p {
  transform: translateY(200px);
background-color: #fff;
padding: 20px;
border-radius: calc(10rem + 5vw);

}
.fade {
  opacity: 0;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 1s;
  pointer-events:none !important
}
.full {
  width: 100vw ;
  height: 100vh ;
}
.login_wrapper_full {
  width: 100vw ;
  height: 100vh ;
  border-radius: 0 ;
  transform: translateY(0);

}
.close {
  color: #fff;
  position: absolute;
  top: 10px
  ; right: 20px;
  cursor: pointer;
}
.error {
  animation: err 1s;
}
@keyframes err {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);

  }
  100%{
    transform: translateY(0px);

  }
}
